.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.logo-container {
  display: flex;
  flex-direction: column;
}
.company-rights {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 132%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding-left: 10px;
}
.logo-footer div {
  background-image: url(../../assets/logo-footer.png);
  transform: scale(0.8);
}

@media (min-width: 900px) {
  .footer .navbar-nav {
    font-size: 2em;
  }
  .logo-container {
    padding-left: 20px;
    flex-grow: 1;
  }
}
