.navbar {
  display: flex;
  font-size: 28px;
  padding: 20px 10px;
}
.logo {
  flex-grow: 1;
}
.logo div {
  background-image: url(../../assets/logo.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 150px;
  height: 39px;
}
.navbar-nav {
  flex-grow: 1;
}
.navbar-nav ul {
  display: flex;
  justify-content: space-around;
}
.navbar-mobile {
  flex-wrap: wrap;
}
.navbar-mobile ul {
  filter: drop-shadow(2px 8px 8px black);
  backdrop-filter: blur(10px);
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  position: absolute;
  z-index: 1000;
  top: 80px;
  left: 0px;
}

.nav-elements {
  cursor: pointer;
}

.call-us {
  padding: 10px 15px 10px;
  margin-top: -10px;
  border-radius: 4px;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 900px) {
  .navbar {
    padding: 10px 10px 0;
  }
  .navbar-mobile {
    display: flex;
  }
  .navbar-desktop {
    display: none;
  }
  .call-us {
    margin-top: 0;
  }
  .navbar-mobile ul li {
    margin-top: 10px;
  }
}
@media (min-width: 900px) {
  .navbar-mobile {
    display: none;
  }
  .navbar-desktop {
    display: flex;
  }
}
